body, html {
	background-image: linear-gradient(to bottom right, #39AB9A, #BCD6B5);
	height:100%;
	text-align: center;
}

#droga {
	margin: auto;
	background-color:white;
	border: 40px solid red;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 30px;
	padding: 5px;
	text-align: center;
	width: 300px
}

#stop {
	margin: auto;
    background: white;
	border: 16px solid red;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

#wc {
	margin: auto;
	background-color:white;
	border: 40px solid blue;
  	box-shadow: 0 0 0 10px white,
             	0 0 0 12px black;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 650%;
	font-family: Tahoma;
	text-align: center;
	width: 200px;
	height: 200px;
	line-height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}