body{
margin: 0;
width: 100vw;
height:calc(100vh - 100px);
font-size:1.2em;
}
header {
background:silver;
height: 50px;
text-align:center;
}
nav {
background:aqua;
height: 100%;
width: 25%;
float: left;
}
main {
background:green;
height: 100%;
width: 75%;
float: left;
}
footer {
background:blue;
height: 50px;
clear: both;
}

@media (max-width:1000px)
{
body{
margin: 0;
width: 100vw;
height:calc(100vh - 100px);
font-size:1.2em;
}
header {
background:silver;
height: 50px;
text-align:center;
}
nav {
background:aqua;
height: 100%;
width: 25%;
float: left;
}
main {
background:green;
height: 100%;
width: 75%;
float: left;
}
footer {
background:blue;
height: 50px;
clear: both;
}
}

@media (max-width:1000px)
{
body{
margin: 0;
width: 100vw;
height:calc(100vh - 100px);
font-size:1.2em;
}
header {
background:silver;
height: 50px;
text-align:center;
}
nav {
background:aqua;
height: 100%;
width: 25%;
float: left;
}
main {
background:green;
height: 100%;
width: 75%;
float: left;
}
footer {
background:blue;
height: 50px;
clear: both;
}
}
